@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);

body {
  background-color:white;
  display: flex;
  justify-content: center;
  font-family:  'Raleway', sans-serif;
  }

li { 
  list-style-type: none;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  transition-duration: 1s;
}

li:hover {
  background-color: rgba(0,0,0,.1);
  transition-duration: 1s;
}

#app {
  padding: 5px;
  width: 100%;
  max-width: 425px;
  background-color: white;
}

.app > h1 {
  font-size: 38px;
  text-align: left;
}

.add-todo {
  text-align: center;
}

.active-todos {
  padding-top: 20px; 
}

.active-todo-item {
  text-align: left;
  padding: 20px 0px;
  width: 100%;
  font-size: 17px;
}

#input {
  border: none;
  padding-left: 2px;
  border-bottom: 1px solid black;
  font-size: 22px;
  min-width: 100px;
  min-width: 272px;
  width: 24%;
  -webkit-transition-duration: 2s;
}

#input:focus {
  width: 75%;
  background-color: yellowgreen;
  color: rgba(0,0,0,0.7);
  border-bottom: 1px solid black;
  -webkit-transition-duration: 2s;
}

.done-btn {
  background-color: rgba(0,0,0,.8);
  color: white;
  display: inline-block;
}

.delete-btn {
  background-color: red;
}

.todo-text {
  width: 400px;
}
